<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://worldtourproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>worldtourproject.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WorldTourProject</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WorldTourProject</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WorldTourContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:worldtourprojectdbserver.database.windows.net,1433;Initial Catalog=WorldTourProject_db;User ID=trooper@worldtourprojectdbserver;Password=Bootcamp1" Name="Data Source=tcp:worldtourprojectdbserver.database.windows.net,1433;Initial Catalog=WorldTourProject_db;User Id=trooper@worldtourprojectdbserver;Password=Bootcamp1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WorldTour.Models.WorldTourContext, WorldTour" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="worldtourdb" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:worldtourprojectdbserver.database.windows.net,1433;Initial Catalog=WorldTourProject_db;User ID=trooper@worldtourprojectdbserver;Password=Bootcamp1" Name="Data Source=tcp:worldtourprojectdbserver.database.windows.net,1433;Initial Catalog=WorldTourProject_db;User Id=trooper@worldtourprojectdbserver;Password=Bootcamp1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-EQR0RN9;Initial Catalog=GroupTravel;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\worldtourdb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-EQR0RN9;Initial Catalog=GroupTravel;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Model1" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:worldtourprojectdbserver.database.windows.net,1433;Initial Catalog=WorldTourProject_db;User ID=trooper@worldtourprojectdbserver;Password=Bootcamp1" Name="Data Source=tcp:worldtourprojectdbserver.database.windows.net,1433;Initial Catalog=WorldTourProject_db;User Id=trooper@worldtourprojectdbserver;Password=Bootcamp1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-EQR0RN9;Initial Catalog=GroupTravel;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;Application Name=EntityFramework;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Model1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=DESKTOP-EQR0RN9;initial catalog=GroupTravel;integrated security=True;connect timeout=15;encrypt=False;trustservercertificate=True;applicationintent=ReadWrite;multisubnetfailover=False;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql" Enabled="False">
            <Source Path="..\..\..\..\script.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Model1-Web.config Connection String">
      <ParameterValue>data source=tcp:worldtourprojectdbserver.database.windows.net,1433;initial catalog=WorldTourProject_db;user id=trooper@worldtourprojectdbserver;password=Bootcamp1;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WorldTourContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:worldtourprojectdbserver.database.windows.net,1433;Initial Catalog=WorldTourProject_db;User Id=trooper@worldtourprojectdbserver;Password=Bootcamp1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)worldtourdb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:worldtourprojectdbserver.database.windows.net,1433;Initial Catalog=WorldTourProject_db;User Id=trooper@worldtourprojectdbserver;Password=Bootcamp1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>