<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://personal-tzitzoglakis-letsgosearchpage.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>personal-tzitzoglakis-letsgosearchpage.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>personal-tzitzoglakis-letsgosearchpage</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$personal-tzitzoglakis-letsgosearchpage</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LetsGo" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:personal-tzitzoglakis-letsgosearchpagedbserver.database.windows.net,1433;Initial Catalog=personal-tzitzoglakis-letsgosearchpage_db;User ID=trooper7@personal-tzitzoglakis-letsgosearchpagedbserver;Password=OlYmPiAcOs7" Name="Data Source=tcp:personal-tzitzoglakis-letsgosearchpagedbserver.database.windows.net,1433;Initial Catalog=personal-tzitzoglakis-letsgosearchpage_db;User Id=trooper7@personal-tzitzoglakis-letsgosearchpagedbserver;Password=OlYmPiAcOs7" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=desktop-eqr0rn9;Initial Catalog=GroupTravel;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LetsGo_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=desktop-eqr0rn9;initial catalog=GroupTravel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql">
            <Source Path="..\..\..\..\Desktop\data.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LetsGo-Web.config Connection String">
      <ParameterValue>data source=tcp:personal-tzitzoglakis-letsgosearchpagedbserver.database.windows.net,1433;initial catalog=personal-tzitzoglakis-letsgosearchpage_db;user id=trooper7@personal-tzitzoglakis-letsgosearchpagedbserver;password=OlYmPiAcOs7;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>