<div id="footer">
    World_Tour Travel Agency, &copy; 2016-2017<br />
    <address>Address: Korai 3, Athens &nbsp;&nbsp;-&nbsp;&nbsp; Phone Number: (+30) 2105555555</address>
    <a href="~/about.html">About Us</a>
</div>
