.backblue {background-color: darkblue;
  text-align: center;
  width: 100%;
}

.yellowletter{color: #dbca13;
  font-size: 30px;
  font-weight: bold;
}

.white{color: lightgrey;
  font-size: 13px;
  font-weight: lighter;;
}

.yellow{background-color: orange;
  padding-right: 100%;
}

strong {color: blue;}

.green {color:green;
  font-weight: bold;
}

.italic {font-style: italic;}

.under{text-decoration: underline;}
