h1{background-color: yellow;
  color: blue;
  text-align: center;
  font-size: 50px;
}

p{ text-align: center;
  font-size: 30px;
}

.second{text-align: left;
  font-size: 30px;
  font-weight: bold;
}

span{color: purple;
  font-style: italic;
  font-weight: normal;
}
