h1 {color: purple;
  text-align: center;
}

.green {color: green;
}

.red {color: #c90e0e;
  font-weight: bold;
}

.gold {color: #dbbc67;
  font-style: italic;
}

.yellow {background-color: yellow;
}
