<div id="header">
    <div id="logo">
        <a href="~/index.cshtml"><img src="~/Media/logo.png" alt="LOGO" width="500px"/></a>
    </div>
    <nav>
        <div id="login">
            <a href="~/Login.html">Login Here</a>
        </div>
        <div id="aboutUs">
            <a href="~/about.html">About us</a>
        </div>
    </nav>
</div>